.navContainer {
  width: 100%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    a{
      color: #fff;
      font-weight: 600;
      font-size: 20px;
    }
  }

  .ul-link {
    display: flex;
    padding-left: 0px;
    align-items: center;
   li{
    padding: 10px;
    font-size: 20px;
   }
  }
  .socialBox {
    .ul-social-link {
      display: flex;
      li{
        padding: 10px;
        color: #fff;
        font-size: 30px;
        a{
          color: #fff;
        }
       }
    
     
    }
  }
}
